@font-face {
    font-family: 'RubikIso';
    src: url('/Rubik_Iso/RubikIso-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RockSalt';
    src: url('/Rock_Salt/RockSalt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('/NetflixSans-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('/NetflixSans-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Zeyada';
    src: url('/Zeyada/Zeyada-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Reenie Beanie';
    src: url('/Reenie_Beanie/ReenieBeanie-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gloria Hallelujah';
    src: url('/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Kablammo';
    src: url('/Kablammo/Kablammo-Regular-VariableFont_MORF.ttf') format('truetype');
}

body,
html {
    font-family: 'Netflix Sans', cursive;
    /* background: linear-gradient(to bottom, #000000, #141414); */
    background: #000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

#root {
    height: 100vh;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.App {
    /* background: linear-gradient(to bottom, #000000, #141414); */
    /* background: linear-gradient(to center, black, black); */
    color: #fff;
    text-align: center;
    /* min-height: 100vh; */
    height: 100%;
    display: flex;
    /* padding: 50px ; */
}

.blurred {
    /* filter: blur(5px) !important; */
    opacity: 35%;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        color: rgb(33, 53, 71);
        background-color: #ffffff;
    }

    a:hover {
        color: #000000;
    }
} */