@font-face {
    font-family: 'RubikIso';
    src: url('/Rubik_Iso/RubikIso-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RockSalt';
    src: url('/Rock_Salt/RockSalt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('/NetflixSans-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('/NetflixSans-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



body,
html {
    font-family: 'Netflix Sans', cursive;
    /* background: linear-gradient(to bottom, #f9d5e5, #f0b7c2, #d6a2ad, #c79fb5, #a6b1e1); */
    background: linear-gradient(to bottom, #141414, #000000);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* height: 100%; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.App {
    /* background: linear-gradient(to bottom, #000000, #141414); */
    background: linear-gradient(to center, black, black);
    color: #fff;
    text-align: center;
    /* min-height: 100vh; */
    height: 100%;
    padding: 50px 0;
}

.standard-text {
    color: #fff;
    font-weight: 400;
}

.exciting-text {
    font-family: 'RockSalt', cursive;
    color: rgba(255, 255, 255, 0.6);
    font-size: 3em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.1em;
    line-height: 1.2;
}

.App-header {
    margin-bottom: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 2;
}

.content {
    position: relative;
    z-index: 1;
}

.App-header h1 {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 15px;
    /* font-family: 'Merriweather', serif; */
}

.App-header h2 {
    font-size: 28px;
    margin-top: 20px;
    font-weight: 300;
}

.App-section {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fff;
    color: #2d3748;
    margin: 20px auto;
    padding: 30px;
    border-radius: 15px;
    max-width: 800px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.App-section h3 {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #2d3748;
}

.App-section p {
    font-size: 16px;
    line-height: 1.6;
    color: #4a5568;
}

.Section-image {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    object-fit: cover;
}

.App-footer {
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.blurred {
    filter: blur(150px) !important;
    opacity: 50%;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    background-color: rgb(229, 9, 20);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: darkred
}

@media (prefers-color-scheme: dark) {
    :root {
        color: rgb(33, 53, 71);
        background-color: #ffffff;
    }

    a:hover {
        color: #000000;
    }
}

.logo-container {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 20%;
    height: 20%;
    color: rgb(229, 9, 20);
    text-shadow: 1.5px 1.5px 1.5px black;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 8vw;
}

.title-container>h1>span {
    font-size: 5vw;
}

.button-no-blur {
    margin-top: 5%;
}

@media (max-width: 768px) {
    .title-container>h1>span {
        font-size: 8vw;
    }

    .title-container>h1 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
}

