/* 
CAROUSEL STYLES
*/
.content {
    display: flex;
    align-items: center;
}

.movie-strip {
    display: flex;
    height: 20vh;
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    /* overflow-x: auto; */
    /* padding: 10px; */
    /* flex: 1; */
    /* margin: auto; */
}

.movie-item {
    margin-right: 5px;
    margin-left: 5px;
    width: calc((100vw - 80px) / 3);
    height: calc((100vw - 80px) / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.movie-item:hover {
    transform: scale(1.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.movie-image-container {
    width: 100%;
    height: 80%;
}

.movie-image {
    width: 100%;
    height: 100%;
    /* object-fit: cover;
    flex-grow: 1; */
}

.movie-title {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.movie-description {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.awesome-font {
    font-family: Kablammo, fantasy;
}

.sad-font {
    font-family: 'Reenie Beanie';
    font-variant: small-caps;
}

.romantic-font {
    font-family: 'Gloria Hallelujah', cursive;
}

@media (min-width: 300px) {
    .movie-item {
        min-width: calc((80vw - 60px) / 2);
        min-height: calc((80vh - 60px) / 2);
    }
    .movie-image-container {
        height: 60%;
    }
    .sad-font {
        font-size: 24px;
    }
    .awesome-font {
        font-size: 16px;
    }
    .romantic-font {
        font-size: 16px;
        margin-top: 3px;
    }
    .movie-description {
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    .movie-item {
        min-width: calc((50vw - 60px) / 2);
        min-height: calc((50vh - 60px) / 2);
    }
    .sad-font {
        font-size: 30px;
    }
    .awesome-font {
        font-size: 20px;
    }
    .romantic-font {
        font-size: 20px;
    }
    .movie-description {
        font-size: 14px;
    }
}

@media(min-widgth: 1200px) {
    .sad-font {
        font-size: 34px;
    }
    .awesome-font {
        font-size: 22px;
    }
    .romantic-font {
        font-size: 22px;
    }
    .movie-description {
        font-size: 18px;
    }
}

