/* 
MODAL STYLES
*/

.Modal {
    position: absolute;
    top: 1vw;
    left: 1vw;
    /* transform: translate(-50%, -50%); */
    z-index: 999;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: black;
}

.Modal-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Modal-content > h2 {
    color: black;
}

@media (min-width: 200px) {
    .title-container>h1>span {
        font-size: 11vw;
    }

    .title-container>h1 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
}

@media (min-width: 500px) {
    .title-container>h1>span {
        font-size: 9vw;
    }

    .title-container>h1 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
}

@media (min-width: 768px) {
    .title-container>h1>span {
        font-size: 8vw;
    }

    .title-container>h1 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
}

@media (min-width: 1024px) {
    .title-container>h1>span {
        font-size: 7vw;
    }

    .title-container>h1 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
}

@media (min-width: 1200px) {
    .title-container>h1>span {
        font-size: 6vw;
    }

    .title-container>h1 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
}

@media (min-width: 1450px) {
    .title-container>h1>span {
        font-size: 5vw;
    }

    .title-container>h1 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
}